                                                       SistersLab Bitirme Projesi - Başak Dilara Çevik

In [154]:

import patoolib
patoolib.extract_archive("movies_dataset.zip", outdir=".")

patool: Extracting movies_dataset.zip ...
patool: running D:\7-Zip\7z.EXE x -o. -- movies_dataset.zip
patool: ... movies_dataset.zip extracted to `.'.

'.'

                                            SistersLab Bitirme Projesi

In [155]:
import pandas as pd   

import os

folder = r'movies_dataset/'
count = 1
# count increase by 1 in each iteration
# iterate all files from a directory
for file_name in os.listdir(folder):
    try:
    # Construct old file name
        source = folder + file_name

    # Adding the count to the new file name and extension
        destination = folder + "movies_" + str(count) + ".csv"

    # Renaming the file
        os.rename(source, destination)
        count += 1
    except:
        pass
print('Tüm dosyaların isimleri değiştirildi.')

print('Yeni isimler: ')
# verify the result
res = os.listdir(folder)
print(res)
#Veri setlerini okuma
for i in range(1, 8):
    globals()['df{}'.format(i)] = pd.read_csv('movies_dataset/movies_{}.csv'.format(i), on_bad_lines='skip')


for df in range(1,8):
    globals()['df{}'.format(df)].dropna(inplace=True)
    globals()['df{}'.format(df)].drop_duplicates(inplace=True)
    globals()['df{}'.format(df)].reset_index(inplace=True, drop=True)

film = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8])
film

Tüm dosyaların isimleri değiştirildi.
Yeni isimler:
['movies_1.csv', 'movies_2.csv', 'movies_3.csv', 'movies_4.csv', 'movies_5.csv', 'movies_6.csv', 'movies_7.csv', 'movies_8.csv']

,actorid,name,sex,movieid,country,genre,language,title,year,as_character,leading,rank,votes,distribution
0,4.0,"$hort, Too",M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16.0,"'Bear'Boyd, Steven",M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28.0,"'Dead End' Kids, The",M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,566.0,"Aaby, Kristian",M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,580.0,Aadil,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768,NaN,NaN,NaN,2591814.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.8,56563.0,0000012210
3769,NaN,NaN,NaN,2592334.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.2,36951.0,0000122100
3770,NaN,NaN,NaN,2592963.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6,2294.0,0000002311
3771,NaN,NaN,NaN,2593112.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9,1231.0,0000012211
3772,NaN,NaN,NaN,2593313.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9,12087.0,0000013210

In [156]:
#Sütunların dağılımı
film.describe().T

,count,mean,std,min,25%,50%,75%,max
actorid,236175.0,1.316825e+06,784392.487962,4.0,630511.0,1289187.0,1976473.0,2749386.0
movieid,174856.0,2.149162e+06,268023.158473,1672052.0,1923165.0,2168103.0,2406479.0,2593313.0
year,3832.0,1.985354e+03,18.176435,1898.0,1981.0,1994.0,1997.0,2014.0
leading,137485.0,2.527891e+01,24.386378,0.0,8.0,19.0,35.0,307.0
rank,3773.0,6.402968e+00,1.139101,1.8,5.7,6.5,7.2,9.3
votes,3771.0,2.771873e+04,63563.550897,5.0,1801.5,6938.0,25559.0,998823.0

In [157]:
film.isnull().sum()

actorid          37371
name            165013
sex             174856
movieid          98690
country         268539
genre           263606
language        268570
title           269714
year            269714
as_character    136061
leading         136061
rank            269773
votes           269775
distribution    269775
dtype: int64

In [166]:
data = pd.DataFrame(film, columns = 
                  ['movieid', 'actorid'])